<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar comprador...">

            </div>
        </div>
    </div>
</div>





<div class="col-12">
    <div class="card">
        <div class="card-body">

            <h3 class="card-title">Compradores agregados ( <small>{{ 3 }}</small> )</h3>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Correo</th>
                        <th>Nombre</th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    <td class="w70">
                        <img src="assets/img/ale.jpg" class="img-50 img-circle pointer">
                    </td>
                    <td>
                        alemvnagirkekn
                    </td>
                    <td>Alejandro Macano</td>


                    <td>
                        <button class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>

                        <button class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                    </td>


                </tbody>

                <tbody>

                    <td class="w70">
                        <img src="assets/images/users/2.jpg" class="img-50 img-circle pointer">
                    </td>
                    <td>
                        antonioguerra@gmail.com
                    </td>
                    <td>Antonio Guerra</td>


                    <td>
                        <button class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>

                        <button class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                    </td>


                </tbody>

                <tbody>

                    <td class="w70">
                        <img src="assets/images/users/5.jpg" class="img-50 img-circle pointer">
                    </td>
                    <td>
                        richardascanio@gmail.com

                    </td>
                    <td>Richard Ascanio</td>


                    <td>
                        <button class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>

                        <button class="btn btn-danger">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                    </td>


                </tbody>

            </table>

            <button class="btn btn-secondary">
                  Anteriores
                </button>

            <button class="btn btn-secondary">
                    Siguientes
                </button>



        </div>
    </div>
</div>