<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Ingresar datos Comprador </h3>
            <p class="text-muted m-b-30 font-13"> Registro Comprador </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label> Nombre del Comprador</label>
                            <input type="text" class="form-control" placeholder="Nombre del Comprador">
                        </div>
                        <div class="form-group">
                            <label>email</label>
                            <input type="email" class="form-control" placeholder="Ingresar correo">
                        </div>
                        <div class="form-group">
                            <label>Cedula</label>
                            <input type="text" class="form-control" placeholder="Cedula">
                        </div>
                        <div class="form-group">
                            <label>Telefono Hogar</label>
                            <input type="text" class="form-control" placeholder="Telefono Hogar">
                        </div>
                        <div class="form-group">
                            <label>Telefono Celular</label>
                            <input type="text" class="form-control" placeholder="Telefono Celular">
                        </div>
                        <select name="" class="form-control">
                          <option value=""> Seleccione Inmueble </option>

                        </select>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-6">

        <div class="card card-body">

            <h4 class="box-title m-b-0">Fotografia</h4>


            <img src="assets/img/ale.jpg" style="width: 300px; margin: 0 auto">
        </div>
    </div>

</div>