<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Christian Guillén</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi Cuenta </a></li>
                        <li><a href="javascript:void()">Mis Ventas</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a href="javascript:void()">Ajuste de Cuenta</a></li>
                        <li><a href="javascript:void()">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-search"></i><span class="hide-menu">Buscar</span></a>

                    <ul aria-expanded="false" class="collapse">

                        <li><a href="#" class="has-arrow">Viviendas</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="pages-login.html">Casas</a></li>
                                <li><a href="pages-login.html">Apartamentos</a></li>

                            </ul>
                        </li>

                        <li><a href="#" class="has-arrow">Locales</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="pages-login.html">Comerciales</a></li>
                                <li><a href="pages-login.html">Oficinas</a></li>

                            </ul>
                        </li>

                        <li><a href="#" class="has-arrow">Terrenos</a>

                        </li>

                    </ul>

                </li>

                <li class="nav-small-cap">Menú</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-star"></i><span class="hide-menu">Amigos <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Solicitudes </a></li>
                        <li><a href="#/amigos">Ver Amigos</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#/marcados" aria-expanded="false"><i class="mdi mdi-heart"></i><span class="hide-menu">Marcados<span class="label label-rouded label-danger pull-right">25</span></span></a>

                </li>
                <li class="nav-small-cap">REGISTRAR</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-card-details"></i><span class="hide-menu">Dueños</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#/registrodueno">Nuevo Dueño</a></li>
                        <li><a href="#/vistaclientes">Ver Mis Dueños</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">Compradores</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#/registrocomprador">Nuevo Comprador</a></li>
                        <li><a href="#/vistacompradores">Ver Mis Compradores</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-home-variant"></i><span class="hide-menu">Inmuebles</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#/registroinmueble">Nuevo Inmueble</a></li>
                        <li><a href="#/vistamisinmuebles">Mis Inmuebles Activos</a></li>
                        <li><a href="#/inmueblesvendidos">Mis Inmuebles Vendidos</a></li>


                    </ul>
                </li>


                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Multi level dd</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">item 1.1</a></li>
                        <li><a href="#">item 1.2</a></li>
                        <li> <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="#">item 1.3.1</a></li>
                                <li><a href="#">item 1.3.2</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">item 1.4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->