<h1>Inmuebles <small> Marcados</small></h1>
<hr>

<div class="card-columns">


    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/ggg.jpg">
        <div class="card-block">
            <h4 class="card-title card text-center">Apartamento en Terrazas del Avila</h4>
            <p class="card-text">Este apartamento tiene 3 dormitorios <br> 3 Baños <br> 1 Sala, cocina y comedor
            </p>
            <p class="card-text"><small class="text-muted">Publicado hace 3 minutos </small></p>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        <button type="button" class="btn btn-outline-success btn-block  ">Negociar
                <i class="mdi mdi-cash"> </i>
        </button>

    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/ggt.jpg" style="width: 300px; margin: 0 auto">
        <div class="card-block">
            <h4 class="card-title card text-center">Apartamento en El Marques</h4>
            <p class="card-text">Inmueble: Apartamento <br> Operación: Venta <br> Antigüedad: 30 <br> Baños: 2 <br> Habitaciones: 3 <br> Metros² de construcción.: 97</p>
            <p class="card-text"><small class="text-muted">Publicado hace 4 días </small></p>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        <button type="button" class="btn btn-outline-success btn-block  ">Negociar

                <i class="mdi mdi-cash"> </i>
        </button>

    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/lagu.jpg">
        <div class="card-block">
            <h4 class="card-title card text-center">Casa Urbanizacion La Lagunita 450 m²</h4>
            <p class="card-text">La Lagunita, Caracas, El Hatillo (norte), Distrito Capital<br> Habitaciones: 6<br> Hab. de Servicio: 1 <br> Metros² de construcción: 450 <br> Estacionamientos: 3 <br> Baños: 3 <br> Metros² de Terreno: 981 <br></p>
            <p class="card-text"><small class="text-muted">Publicado hace 5 horas </small></p>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        <button type="button" class="btn btn-outline-success btn-block  ">Negociar
                <i class="mdi mdi-cash"> </i>
        </button>

    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/lagu2.jpg">
        <div class="card-block">
            <h4 class="card-title card text-center">Casa Urbanizacion San Bernandino </h4>
            <p class="card-text">nmueble: Negocio <br> Operación: Venta <br> Antigüedad: 17 años <br> Baños: 4 <br> Metros² de construcción.: 305 <br> Nombre del negocio: pastas patri <br> Nro Pisos: 2 <br> Estacionamientos: 4 <br> Ramo: restaurante</p>
            <p class="card-text"><small class="text-muted">Publicado hace 35 minutos </small></p>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        <button type="button" class="btn btn-outline-success btn-block  ">Negociar
                <i class="mdi mdi-cash"> </i>
        </button>

    </div>

    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/lagu2.jpg">
        <div class="card-block">
            <h4 class="card-title card text-center">Casa Urbanizacion San Bernandino </h4>
            <p class="card-text">nmueble: Negocio <br> Operación: Venta <br> Antigüedad: 17 años <br> Baños: 4 <br> Metros² de construcción.: 305 <br> Nombre del negocio: pastas patri <br> Nro Pisos: 2 <br> Estacionamientos: 4 <br> Ramo: restaurante</p>
            <p class="card-text"><small class="text-muted">Publicado hace 35 minutos </small></p>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
        <button type="button" class="btn btn-outline-success btn-block  ">Negociar
                <i class="mdi mdi-cash"> </i>
        </button>

    </div>





</div>