<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Ingresar datos Inmueble </h3>
            <p class="text-muted m-b-30 font-13"> Registro Inmueble </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label> Nombre del inmueble</label>
                            <input type="text" class="form-control" placeholder="Nombre del Dueño">
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <input type="email" class="form-control" placeholder="Descripcion">
                        </div>
                        <div class="form-group">
                            <label>Superficie</label>
                            <input type="text" class="form-control" placeholder="Superficie">
                        </div>
                        <div class="form-group">
                            <label>Direccion</label>
                            <input type="text" class="form-control" placeholder="Telefono Hogar">
                        </div>
                        <div class="form-group">
                            <label>Telefono Celular</label>
                            <input type="text" class="form-control" placeholder="Telefono Celular">
                        </div>
                        <select name="" class="form-control">
                          <option value=""> Seleccione Operacion </option>

                        </select>

                        <select name="" class="form-control">
                            <option value=""> Estado </option>
  
                          </select>

                        <select name="" class="form-control">
                              <option value=""> Municipio </option>
    
                            </select>

                        <select name="" class="form-control">
                                <option value=""> Urbanizacion </option>
      
                              </select>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-6">

        <div class="card card-body">

            <h4 class="box-title m-b-0">Fotografia</h4>

            <img src="assets/img/g2.jpg" style="width: 300px; margin: 0 auto">

            <br>
            <img src="assets/img/gg.jpg" style="width: 300px; margin: 0 auto">

            <br>
            <img src="assets/img/guaira.jpg" style="width: 300px; margin: 0 auto">
        </div>
    </div>

</div>